@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}
h3 {
    font-size: 28px;
    font-weight: 600;
    color: #0D47A1;
}
h5 {
    font-size: 20px;
}
small {
    font-size: 18px;
    font-weight: 400;
    color: #8F959F;
}
a {
    color: #232323;
    text-decoration: none;
    background-color: transparent;
}
  
a:hover {
    color: #4B5564;
    text-decoration: none;
}
.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.shadow-main {
    box-shadow: 0px 2px 10px 0px rgba(35,35,35,0.1);
}
.btn-main {
    background-color: #0D47A1;
    color: #FFF;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}
.btn:hover {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
  }
  
.btn-main:hover {
    background-color: #1565C0;
}
.bg-main {
    background-color: #0D47A1;
}
.bg-white {
    background-color: #FFF;
}
.px-header {
    margin-right: 25px;
}
.mx-120 {
    margin: 0 120px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-40 {
    margin-bottom: 40px;
}
.p-inline-32 {
    padding-inline: 32px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #FFF;
}
.navbar-nav .nav-item .nav-link  {
    font-size: 18px;
    padding-inline: 35px;
    font-weight: 500;
}
.dropdown-menu .dropdown-item {
    font-size: 18px;
}
.form-control {
    display: block;
    width: 420px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(35, 35, 35, .3);
    background-color: rgba(223, 223, 223, .5);
    border: none;
    border-radius: 10px;
}
.carousel-indicators .active {
    background-color: #0D47A1;
    width: 50px;
    height: 10px;
    margin: 0 5px;
}
.carousel-indicators li {
    background-color: #BBDEFB;
    width: 30px;
    height: 10px;
    margin: 0 5px;
    border: 10px;
    border-radius: 10px;
}

.news-info {
    height: 50px;
    background-color: #BBDEFB;
    margin: 30px 0 0 0;
}
.news-info marquee {
    color: #1565C0;
    font-size: 20px;
    align-items: center;
}
.align-news {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 7px 0;
}
.title-news {
    width: 250px;
    font-size: 22px;
    color: #232323;
    font-weight: 600;
}
.always-menu {
    display: flex;
    justify-content: space-between;
    height: 110px;
    /* background-color: #1565C0; */
}
.title-header {
    padding-bottom: 30px;
    border-bottom: 3px #0D47A1 solid;
}
.card {
    border-radius: 10px;
}
.card-body {
    padding: 5px 30px;
}
.card-title {
    font-weight: 600;
    color: #232323;
}
.card-text {
    font-size: 18px;
    color: #4B5564;
    /* text-align: justify; */
}
.information-news {
    height: 600px;
}
.nav-tabs .nav-link {
    color: #232323;
    font-weight: 500;
    font-size: 18px;
}
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 3px #0D47A1 solid;
}
.ebook-name {
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}
.ebook-cover {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 0px rgba(35,35,35,0.1);
    margin-inline: 25px 0;
}
.media-bg {
    background-color: #BBDEFB;
    padding: 50px 0 40px 0;
}

footer {
    color: #FFF;
}
.img-footer {
    max-width: 380px;
}
iframe {
    border-radius: 10px;
}
.comfooter {
    background-color: #FFF;
    color: #0D47A1;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}
.contact-footer {
    font-size: 18px;
    color: #FFF;
    padding: 30px 0;
}
.menu-footer {
    font-size: 18px;
    color: #FFF;
    height: 40px;
    border-bottom: 1px rgba(255, 255, 255, .5) solid;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.menu-footer :hover {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
}