@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}
h3 {
    font-size: 28px;
    font-weight: 600;
    color: #0D47A1;
}
h5 {
    font-size: 20px;
}
small {
    font-size: 14px;
    font-weight: 400;
    color: #8F959F;
}
small.description {
    font-size: 16px;
}
a {
    color: #232323;
    text-decoration: none;
    background-color: transparent;
}
  
a:hover {
    color: #4B5564;
    text-decoration: none;
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.shadow-main {
    box-shadow: 0px 2px 10px 0px rgba(35,35,35,0.1);
}
.btn-main {
    background-color: #0D47A1;
    color: #FFF;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}
.btn:hover {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
  }
  
.btn-main:hover {
    background-color: #1565C0;
}
.bg-main {
    background-color: #0D47A1;
}
.bg-white {
    background-color: #FFF;
}
.px-header {
    margin-right: 25px;
}
.mx-120 {
    margin: 0 120px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.p-inline-menu {
    padding-inline: 2.5px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #FFF;
}
.navbar-nav .nav-item .nav-link  {
    font-size: 16px;
    padding-inline: 26px;
    font-weight: 500;
}
.dropdown-menu .dropdown-item {
    font-size: 16px;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #0D47A1;
    font-weight: 600;
    text-decoration: none;
    background-color: #BBDEFB;
}
.toggle-nav {
    color: #FFF;
    font-size: 20px;
    padding: 10px 0;
}
a.nav-top-font {
    font-size: 16px;
    font-weight: 500;
}
a.nav-top-font :hover {
    color: #1565C0;
    font-weight: 600;
}
a.facebook-icon {
    font-size: 18px;
    color: #1b74e4;
}
a.facebook-icon:hover{
    opacity: .75;
}
a.twitter-icon {
    font-size: 18px;
    color: #1da0f1;
}
a.twitter-icon:hover{
    opacity: .75;
}
.border-box {
    margin-right: 3px;
    border-radius: 3px;
}
.border-box :hover {
    opacity: .75;
}
.normal {
    border: .75px #E6E7E9 solid;
    width: 25px;
    height: 25px;
    text-align: center;
}
.contrast {
    background: #434343;
    width: 25px;
    height: 25px;
    text-align: center;
}
.text-contrast-yellow {
    color: #FFFB00;
}
.form-control {
    display: block;
    width: 420px;
    height: 35px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(35, 35, 35, .3);
    background-color: rgba(223, 223, 223, .5);
    border: none;
    border-radius: 10px;
}
.carousel-indicators .active {
    background-color: #0D47A1;
    width: 50px;
    height: 10px;
    margin: 0 5px;
}
.carousel-indicators li {
    background-color: #BBDEFB;
    width: 30px;
    height: 10px;
    margin: 0 5px;
    border: 10px;
    border-radius: 10px;
}
a.news-name :hover {
    color: #0D47A1;
    font-weight: 700;
}
.news-info {
    height: 50px;
    background-color: #BBDEFB;
    margin: 30px 0 0 0;
}
.news-info marquee {
    color: #1565C0;
    font-size: 18px;
    align-items: center;
}
.align-news {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}
.title-news {
    width: 250px;
    font-size: 20px;
    color: #232323;
    font-weight: 600;
}
.always-menu {
    display: flex;
    justify-content: space-between;
    height: 110px;
    /* background-color: #1565C0; */
}
.always-menu-icon {
    width: 140px;
    height: 80px;
}
img.hover-menu:hover {
    /* width: 160px;
    box-shadow: 0px 2px 10px 0px rgb(35 35 35 / 10%); */
    opacity: .75;
}
.title-header {
    padding-bottom: 30px;
    border-bottom: 3px #0D47A1 solid;
}
.card {
    border-radius: 10px;
}
.card-body {
    padding: 15px 30px;
}
.card-title {
    font-weight: 600;
    color: #232323;
}
.card-text {
    font-size: 16px;
    color: #4B5564;
    /* text-align: justify; */
}
.border-tl-bl {
    border-radius: 10px 0 0 10px;
}
.border-tl-tr {
    border-radius: 10px 10px 0 0;
}
.information-news {
    height: 600px;
}
.accordion {
    display: none;
}
.nav-tabs .nav-link {
    color: #232323;
    font-weight: 500;
    font-size: 16px;
}
.nav-tabs .nav-link.active {
    color: #495057;
    font-weight: 700;
    background-color: #fff;;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 3px #0D47A1 solid;
}
.ebook-name {
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}
.ebook-cover {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 0px rgba(35,35,35,0.1);
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.media-bg {
    background-color: #BBDEFB;
    padding: 50px 0 20px 0;
}
.slide-layout {
    margin: 50px auto 100px;
}

footer {
    color: #FFF;
}
.img-footer {
    max-width: 380px;
}
a.social-icons {
    color: #FFF;
    font-size: 30px;
}
a.social-icons :hover {
    color: rgba(255, 255, 255, .75);
}
a.font-footer {
    color: #FFF;
} 
a.font-footer :hover {
    color: rgba(255, 255, 255, .85);
}
iframe.map {
    border-radius: 10px;
    width: 275px;
    height: 170px;
}
.comfooter {
    background-color: #FFF;
    color: #0D47A1;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}
.contact-footer {
    font-size: 16px;
    color: #FFF;
    padding: 30px 0;
}
.follow-footer {
    font-size: 16px;
    color: #FFF;
    padding: 30px 0;
}
.menu-footer {
    font-size: 16px;
    color: #FFF;
    height: 40px;
    border-bottom: 1px rgba(255, 255, 255, .5) solid;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.menu-footer :hover {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
}
.website-chart {
    font-size: 16px;
    margin-bottom: 20px;
}

@media (max-width: 575.98px) {
    .main-logo {
        max-width: 250px;
        margin: 0 auto;
        display: flex;
    }
    .logo-align-sm {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }
    .form-control {
        display: block;
        max-width: 250px;
        height: 35px;
        font-size: 14px;
    }
    .always-menu {
        height: auto;
    }
    .display-sm {
        padding: 18px 18px 0;
    }
    .carousel-indicators {
        bottom: -30px;
    }
    .carousel-indicators .active {
        width: 30px;
        height: 5px;
        margin: 0 3px;
    }
    .carousel-indicators li {
        width: 10px;
        height: 5px;
        margin: 0 3px;
    }
    .news-info {
        height: 35px;
    }
    .news-info marquee {
        font-size: 14px;
    }
    .news-info {
        padding: 0;
    }
    .title-news {
        font-size: 18px;
        padding-left: 20px;
    }
    .align-news {
        padding: 5px 0;
    }
    h3 {
        font-size: 24px;
    }
    h5 {
        font-size: 16px;
    }
    .title-header {
        text-align: center;
    }
    small.description {
        font-size: 16px;
    }
    .header-info {
        text-align: center;
        margin-bottom: 20px;
    }
    .border-tl-bl {
        border-radius: 10px 10px 0 0;
    }
    .tab {
        display: none;
    }
    .accordion {
        display: block;
    }
    .btn-link {
        font-weight: 600;
        color: #232323;
        text-decoration: none;
    }
    .img-footer {
        max-width: 280px;
    }
    .contact-footer {
        padding: 30px 0 10px;
        text-align: center;
    }
    .follow-footer {
        padding: 0;
        text-align: center;
    }
    .website-chart {
        text-align: center;
        margin-top: 10px;
    }
    .comfooter {
        height: 70px;
        font-size: 14px;
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {

}